# keep hourly snapshots for the last 24 hours
@hourly  /usr/bin/lockrun -w 600 /tmp/lock.backup ~/bin/s3ql_backup.sh -n 24 hourly

# keep daily snapshots for the past week; wait twice as long so hourly
# can finish running first
@daily  /usr/bin/lockrun -w 1200 /tmp/lock.backup ~/bin/s3ql_backup.sh -n 7 daily

# keep weekly snapshots for the past month; wait three times as long so
# hourly & daily finish
@weekly /usr/bin/lockrun -w 1800 /tmp/lock.backup ~/bin/s3ql_backup.sh -n 4 weekly

# keep month snapshots for the past year; you get the picture
@monthly /usr/bin/lockrun -w 2400 /tmp/lock.backup ~/bin/s3ql_backup.sh -n 12 monthly

# keep yearly snapshots for the past 10 years; you get the picture
@yearly /usr/bin/lockrun -w 4800 /tmp/lock.backup ~/bin/s3ql_backup.sh -n 10 yearly

# Delete conflict files every month.
@monthly find ~/.backups -iname "(conflict * on*" -delete